.wrapper {
  padding: 150px 15%;
  padding-bottom: 210px;
}

.heading {
  text-align: center;
  font-family:  sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
}

.box {
  background-color: var(--color-grey);
  width: 100%;
  height: 356px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.field1 {
  width: 276px;
  height: 53px;
  background-color: #e4e4e4;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  font-style: italic;
  margin-right: 10px !important;
}
.field2 {
    width: 276px;
    height: 53px;
    background-color: #e4e4e4;
    border-radius: 0 !important;    
    font-style: italic;
    margin-right: 10px !important;
  }

.btn {
  width: 116px;
  height: 53px;
  background-color: var(--color-primary) !important;
  border-top-left-radius: 0 !important;    
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  color: black !important;
  font-weight: 600 !important;
}

.btn:hover {
  background-color: var(--color-primary);
}
